<!--Day buttons--> 
  <div class="col-md-12 row" id="elapse-date-line">
    <div class="col-md-1 thincol-20">
      <span class="date-line-chevron" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
    </div>
    <div class="btn-toolbar col-md-11">
      <div class="btn-group btn-group-lg" role="group" aria-label="Dates">
        <!--Fix this later-->
        <button type="button" class="btn btn-default weekend">
          <span class="elapse-dayname">SUN</span>
          <br>
          <span class="elapse-daynumber">14</span>
          <br>
          <span class="elapse-daydot">&nbsp;</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="elapse-dayname">MON</span>
          <br>
          <span class="elapse-daynumber">15</span>
          <br>
          <span class="elapse-daydot">&middot;</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="elapse-dayname">TUE</span>
          <br>
          <span class="elapse-daynumber">16</span>
          <br>
          <span class="elapse-daydot">&nbsp;</span>
        </button>
        <button type="button" class="btn btn-default active">
          <span class="elapse-dayname">WED</span>
          <br>
          <span class="elapse-daynumber">17</span>
          <br>
          <span class="elapse-daydot">&middot;</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="elapse-dayname">THU</span>
          <br>
          <span class="elapse-daynumber">18</span>
          <br>
          <span class="elapse-daydot">&nbsp;</span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="elapse-dayname">FRI</span>
          <br>
          <span class="elapse-daynumber">19</span>
          <br>
          <span class="elapse-daydot">&nbsp;</span>
        </button>
        <button type="button" class="btn btn-default weekend">
          <span class="elapse-dayname">SAT</span>
          <br>
          <span class="elapse-daynumber">20</span>
          <br>
          <span class="elapse-daydot">&nbsp;</span>
        </button>
      </div>  
      <div class="col-md-1 thincol-20">
        <span class="date-line-chevron pull-right" aria-hidden="true"><i class="fa fa-angle-right"></i></span></button>
      </div>
    </div>
  </div>

    <!-- End of day buttons -->
    <!--Time entry form -->
    <div id="time_entry_form">
      <form role="form">
      <div class="row">
          <div class="col-md-6">
           <div class="form-group">
            <label for="Clients">Client </label>
              <select name="Clients" class="fancyboxes">
                <% @clients.each do |client| %>
                  <option value="<%= client %>"><%= client.cli_name %></option>
                <% end %>
              </select>
          </div>  
             </div>
             <div class="col-md-6">
                <div class="form-group">
                <label for="Projects">Project </label>
                <select name="Projects" class="fancyboxes">
                  <% @projects.each do |project| %>
                    <option value="<%= project %>"><%= project.pro_name %></option>
                  <% end %>
                </select>
               </div>  
           </div>
      </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="ptnumber">PT Number </label>
            </div>
            <div class="col-md-10 thin_column">
              <input id="field" type="text" name="ptnumber" value="" size="22" />
            </div>
          </div>
        </div>  
        <div class="form-group">
          <!--<label for="decription">Description</label><br>-->
          <!--<textarea name="Description" rows="4" cols="75">-->
          <!--</textarea>-->
          <label for="Descriptions">Description</label>
          <select name="Descriptions" class="fancyboxes">
            <% @descriptions.each do |description| %>
              <option value="<%= description %>"><%= description.desc_name %></option>
            <% end %>
          </select>
        </div> 
        <div class="row">
          <div class="col-md-7">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="date">Date</label>
                    </div>
                    <div class="col-md-5">
                      <input name="theDate" size="17">
                    </div>
                    <div class="col-md-4 thin_column">
                      <button type="button" class="btn btn-default time_form_button" value="Today" onclick="var theDate = new Date(); this.form.theDate.value = theDate.toLocaleDateString();">Today</button>
                    </div>
                  </div>
                </div>
                 <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="start">Start Time </label>
                      </div>
                      <div class="col-md-5">
                        <input id="field" type="text" name="starttime" value="" size="17" />
                      </div>
                      <div class="col-md-4 thin_column">
                        <button type="button" class="btn btn-default time_form_button" value="Now" onclick="var starttime = new Date(); this.form.starttime.value = starttime.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'});">Now</button>
                      </div>                  
                    </div>    
                  </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                          <label for="date">End Time </label>
                        </div>
                        <div class="col-md-5">
                          <input id="field" type="text" name="endtime" value="" size="17" />
                        </div>
                        <div class="col-md-4 thin_column">
                          <button type="button" class="btn btn-default time_form_button" value="Now" onclick="var endtime = new Date(); this.form.endtime.value = endtime.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'});">Now</button>
                        </div> 
                    </div>
                  </div>
             </div>
             <div class"col-md-5 thin_column">
                <input type="checkbox"> Add to Shortcuts
              <div class="elapse-time-description">
                AM format "hhmma"<br>PM format "hhmmp"<br>(e.g. 0916a, 0456p, 813a)
             </div>
             </div>
          </div>
      <!--Collapsable section-->
      <div class="panel-group" id="accordion" aria-multiselectable="true">
        <div class="panel additional_fields">
          <div id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFields" aria-expanded="false" aria-controls="collapseFields">
             &nbsp;+ Additional Fields
            </a>
          </div>
          <div id="collapseFields" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFields">
            <div class="panel-body">
                <form role="form">
                  <div class="form-group">
                    <label for="internal_decription">Internal Description</label><br>
                      <textarea name="Internal_Description" rows="4" cols="50">
                      </textarea>
                  </div>
                  <div class="form-group">
                    <input type="checkbox"> Mark for Review                 
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!--End of collapsible section-->
        <button type="submit" class="btn time_form_submit_button" value="Save & Close Previous">Save & Close Previous</button>
        <button type="submit" class="btn time_form_submit_button" value="Save">Save</button>
        <a href="#">Cancel</a>
      </form>
      <!--End of time entry form-->
    </div>