<!DOCTYPE html>
<html>
<head>
  <title>Practicerails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render '/time_entries/navigation' %>

<div class='container'>
  <%= yield %>
</div>

<%= render '/time_entries/footer' %>

</body>
</html>
